<!DOCTYPE html>
<html lang=en>
    <head>
        {% if title %}
        <title>{{ title }} - HackerBar</title>
        {% else %}
        <title>Welcome to the HackerBar</title>
        {% endif %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

        {% block head %}
        {% endblock %}
    </head>

    <body style="font-family: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;">

      <div class="container" id="stock-ticker">
          <div class="row">
            <marquee behavior="scroll" direction="left" scrollamount="10">
              <h3 style="color: green">

              </h3>
            </marquee>
          </div>
      </div>

      <div class="jumbotron">
        <div class="container text-center">
          <h1>
            Hacker Bar
            <img src="{{ url_for('static', filename='images/TiltedM.png') }}" style="width:6%;heigth:6%;">
          </h1>
        </div>
      </div>

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/index">Home</a></li>
              <li><a href="/menu">Drinks</a></li>
              <li><a href="list_drinks">Recipes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a></li>
                <li><a href="/logout">Sign Out</a></li>
            {% else %}
                <li><a href="/login">Sign In</a></li>
            {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
      </hr>

    </body>
</html>
