{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/orders.css') }}">
<script type="text/javascript" src="/static/js/orders.js"></script>
{% endblock %}

{% block content %}
    <h1>Hello, {{ user.username }}</h1>
    <button type="button" class="btn btn-success btn-cons" onclick="reload_orders()"><b>reload</b></button>
    <div class="terminal">
        <p>[{{ user.username }}@Hackerbar orders]$ ls -l</p>
    </div>
    <div id="output">
    {% for order in orders %}
        <div class="orders">
            <p>{{ order.drink.name }}, {{ order.drink.type }}</p>
            {% for ingredient in order.drink.recipe %}
            <button type="button" class="btn btn-primary btn-cons"><b>
                {% if ingredient.flavor is not none %}
                    {{ ingredient.flavor }}
                {% endif %}
                {{ ingredient.type }} - {{ ingredient.ammount }}
            </b></button><br>
            {% endfor %}
            <button type="button" class="btn btn-success btn-cons"><b>Completed</b></button>
        </div>
    {% endfor %}
    </div>
{% endblock %}
